<mat-toolbar>
  <button
    mat-button
    [routerLink]="['/grid']"
    routerLinkActive="router-link-active"
  >
    Grid
  </button>
  <button
    mat-button
    [routerLink]="['/flex']"
    routerLinkActive="router-link-active"
  >
    Flex
  </button>
  <button
    mat-button
    [routerLink]="['/tailwind']"
    routerLinkActive="router-link-active"
  >
    Tailwind
  </button>
  <button
    mat-button
    [routerLink]="['/tvshows']"
    routerLinkActive="router-link-active"
  >
    TV Shows
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
